.top, .bottom {
  text-align: center;
  }
  
ul {
    padding: 0;
}
  
li {
  list-style: none;
  display: inline-block;
  font-size: 85%;
}

body {
  border-bottom: 2px solid;
  border-color: black;
}

#right {
  border-right: 1px solid;
  border-color: rgb(220, 220, 220);
  margin-right: 0.6%;
  padding-right: 0.6%;
}

#red {
  color: red;
}